---
import { Icon } from "astro-icon/components";
import logo from "../assets/logo.svg";
---

<header class="header">
  <nav class="container nav">
    <a href="/" class="logo">
      <img src={logo.src} alt="Astro Sport" class="logo__icon" />
    </a>

    <ul class="nav-list">
      <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
      <li class="nav-item">
        <a class="nav-link" href="#category">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#trending">Trending News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#recent">Recent News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#ranking">Clubs Ranking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#article">Sports Article</a>
      </li>
    </ul>

    <button class="search">
      <Icon name="search" />
      <span class="search__text"> Search</span>
    </button>

    <button class="burger-menu" aria-label="Toggle menu">
      <span class="burger-icon"></span>
    </button>
  </nav>
</header>

<style lang="scss">
  :root {
    --breakpoint-medium: 768px;
  }

  .header {
    padding: 0.9375rem 0;
    background-color: var(--white-color);
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 1.1875rem;
  }

  .nav-link {
    position: relative;
    display: block;
    padding: 0.625rem;
    font-size: 0.9375rem;
    line-height: 2.625rem;
    color: var(--neutral-dark-color);
    transition: color 0.15s ease-in-out;
    z-index: 10;

    &::after {
      content: "";
      position: absolute;
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: var(--neutral-dark-color);
      transition: width 0.15s ease-in-out;
    }

    &.active {
      color: var(--primary-dark-color);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--primary-dark-color);

        &::after {
          width: 90%;
        }
      }
    }
  }

  .search {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.75rem 1.25rem 0.75rem 1rem;
    background-color: var(--neutral-muted-color);
    font-size: 0.875rem;
    color: var(--white-color);
    border-radius: 6px;
    transition: background-color 0.15s ease-in-out;

    &:hover {
      background-color: var(--neutral-dark-color);
    }

    &:focus {
      outline: 2px solid var(--primary-dark-color);
      outline-offset: 2px;
    }
  }

  .burger-menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 101;
  }

  .burger-icon {
    position: relative;
    width: 25px;
    height: 3px;
    background: #333;
    display: block;
    transition: all 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 25px;
      height: 3px;
      background: #333;
      display: block;
      transition: all 0.3s;
    }

    &::before {
      top: -8px;
    }

    &::after {
      bottom: -8px;
    }
  }

  @media screen and (max-width: 992px) {
    .logo {
      &__icon {
        width: 100px;
      }
    }

    .nav-list {
      gap: 0.15rem;
    }

    .nav-link {
      font-size: 0.85rem;
    }

    .search {
      padding: 0.75rem 1.25rem;

      &__text {
        display: none;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .header {
      padding: 0.5rem 0;
    }

    .logo {
      &__icon {
        width: 152px;
      }
    }

    .burger-menu {
      position: relative;
      display: flex;
    }

    .nav-list {
      position: fixed;
      inset: 0;
      transform: translateX(100%);
      background-color: var(--primary-light-color);
      flex-direction: column;
      padding-top: 4.5rem;
      gap: 2rem;
      z-index: 100;
      transition: transform 0.3s ease-in-out;

      &.active {
        display: flex;
        transform: translateX(0);
      }
    }

    .nav-link {
      font-size: 2rem;
      text-transform: uppercase;
    }

    .search {
      display: none;
    }

    .burger-menu {
      &.active {
        .burger-icon {
          background: transparent;

          &::before {
            transform: rotate(45deg);
            top: 0;
          }

          &::after {
            transform: rotate(-45deg);
            bottom: 0;
          }
        }
      }
    }
  }
</style>

<script>
  import { disableScroll, enableScroll } from "../utils";

  document.addEventListener("DOMContentLoaded", () => {
    const button = document.querySelector(".burger-menu") as HTMLButtonElement;
    const menu = document.querySelector(".nav-list") as HTMLUListElement;
    const links = document.querySelectorAll(
      ".nav-link"
    ) as NodeListOf<HTMLElement>;

    button.addEventListener("click", () => {
      button.classList.toggle("active");
      menu.classList.toggle("active");

      if (button.classList.contains("active")) {
        disableScroll();
      } else {
        enableScroll();
      }
    });

    links.forEach((link) => {
      link.addEventListener("click", () => {
        button.classList.remove("active");
        menu.classList.remove("active");
        enableScroll();
      });
    });
  });
</script>
