---
import people from "../data/sample.json";
---

<main>
  <section>
    <div class="container">
      <h1>Astro Sport</h1>
      <ul class="people-list">
        {
          people.map((person) => (
            <li>
              <span>{person.name}</span>
              <span>{person.age}</span>
              <span>{person.email}</span>
              <span>{person.occupation}</span>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</main>
