---
import Header from "../components/Header.astro";

import "@fontsource-variable/dm-sans";
import "@fontsource/lato/400.css";
import "@fontsource/lato/700.css";

const { title } = Astro.props;

import "../styles/global.scss";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
